OPENAI_API_KEY=your_key_here
GROQ_API_KEY=your_key_here
LLM_PROVIDER=openai

Whichever llm api key you will be inserting, the LLM_PROVIDER will have that name.
Example if GROQ_API_KEY value is inserted then LLM_PROVIDER will have name groq
and OPENAI_API_KEY value will be kept empty and if OPENAI_API_KEY value is there then LLM_PROVIDER
name will be openai and GROQ_API_KEY value will be empty.
